
@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .imagesheight{
       height: 250px!important;
    }
</style>
<section class="ftco-section bgsoftyesil" id="section-about">
    <div class="container">
        <div class="row">
            <div class="col-md-5 ftco-animate">
                <h4 class="ftco-sub-title">HACI MEHMET ETLİ</h4>
                <h2 class="ftco-primary-title display-4">Hakkımızda</h2>
                <p>
                    Hacı  Mehmet ETLİ 1966 Yılında Kahramanmaraş’ta dünyaya geldi. Öğrenimini tamamladıktan kısa bir süre içerisinde ailesi ile birlikte 1980’li yılların başında İstanbul’un Gaziosmanpaşa, Küçükköy semtinde yaşamına devam etti. 1982 yılında Baklava, Dondurma, Pastanecilik sektörüne adımını atmış olup,   başarıları kısa süre içerisinde etrafı tarafından takdir edildi.
                    Senelerdir süregelen lezzetimiz, ülke ve şehir  bazında kendini kanıtladı. Hacı Mehmet Etli Baklavaları, üretim ve satışında ; hammaddenin temininden, işlenmesine kadar her zaman ön planda olan kalite ve kusursuz hizmet anlayışını kendine prensip edinmiştir. İşimizin her zaman daha iyi, daha doğal ve daha kaliteli olması hususunda en ince ayrıntıları sizler için düşünmekteyiz. Bizler bahane değil, çözüm üretmekteyiz. Bu sebepler doğrultusunda, yemediğimizi, yedirmeme misyonu ile sizlerleyiz.
                    Sektörde 40 yıla varan tecrübeleri gelecek nesillere aktarıp, doğruluk ve dürüstlük ilkelerinden ayrılmadan, doğallıktan taviz vermeden üretimimize devam etmekteyiz. Ürettiğimiz tüm ürünleri insanlara, gönül rahatlığı ile sürmenin mutluluğunu yaşamaktayız. Biz diğer firmalardan ayıran en iyi özelliğimiz ‘’ İşimizi gerçekten severek yapmamız ‘’ Genç, yaşlı, çocuk demeden herkesi soframıza davet etme geleneği ile hizmetimize devam etmekteyiz.
                </p>

               </div>
            <div class="col-md-1"></div>
            <div class="col-md-6 ftco-animate img" data-animate-effect="fadeInRight">
                <img src="~/images/OdunAtesi.PNG" style="margin-top:100px; width:80%!important;" alt="Odun ateşi">
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bgsoftyesil" id="section-gallery">
    <div class="container">
        <div class="row ftco-custom-gutters">

            <div class="col-md-12 text-center mb-5 ftco-animate">

                <div class="row justify-content-center">
                    <div class="col-md-7">
                        <p class="lead">Hikayemiz</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 ftco-animate">
                <a href="~/images/Hikayemiz9.PNG" class="ftco-thumbnail image-popup">
                    <img src="~/images/Hikayemiz9.PNG" alt="Free Template by Free-Template.co" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4 ftco-animate">
                <a href="~/images/Hikayemiz1.PNG" class="ftco-thumbnail image-popup">
                    <img src="~/images/Hikayemiz1.PNG" alt="Free Template by Free-Template.co" class="img-fluid imagesheight">
                </a>
            </div>
            <div class="col-md-4 ftco-animate">
                <a href="~/images/Hikayemiz8.PNG" class="ftco-thumbnail image-popup">
                    <img src="~/images/Hikayemiz8.PNG" alt="Free Template by Free-Template.co" class="img-fluid imagesheight">
                </a>
            </div>
            <div class="col-md-4 ftco-animate">
                <a href="~/images/Hikayemiz3.PNG" class="ftco-thumbnail image-popup">
                    <img src="~/images/Hikayemiz3.PNG" alt="Free Template by Free-Template.co" class="img-fluid imagesheight">
                </a>
            </div>

            <div class="col-md-4 ftco-animate">
                <a href="~/images/Hikayemiz7.PNG" class="ftco-thumbnail image-popup">
                    <img src="~/images/Hikayemiz7.PNG" alt="Free Template by Free-Template.co" class="img-fluid imagesheight">
                </a>
            </div>
            <div class="col-md-4 ftco-animate">
                <a href="~/images/Hikayemiz9.PNG" class="ftco-thumbnail image-popup">
                    <img src="~/images/Hikayemiz11.PNG" alt="Free Template by Free-Template.co" class="img-fluid imagesheight">
                </a>
            </div>
            <div class="col-md-4 ftco-animate">
                <a href="~/images/Hikayemiz12.PNG" class="ftco-thumbnail image-popup">
                    <img src="~/images/Hikayemiz12.PNG" alt="Free Template by Free-Template.co" class="img-fluid imagesheight">
                </a>
            </div>




        </div>
    </div>
</section>



