@model hacimehmetli.Models.Entity.producttable
@{
    ViewBag.Title = "Siparis Ver";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
@if (ViewBag.success == "ok")
{
    <section class="ftco-section bgsoftyesil" id="section-contact" style="margin-bottom:0px!important; padding-bottom:0px!important;">
        <div class="container">
            <div class="row">

                <div class="alert alert-success text-center" style="width:100%!important;" role="alert">
                    <h4 class="alert-heading text-center">Siparişiniz Bize Ulaştı !</h4>
                    <p>Siparişiniz bize ulaştı, en yakın sürede sizinle iletişime geçeceğiz. Aşağıdaki formdan yeni bir sipariş oluşturabilirsiniz.</p>
                    
                </div>

            </div>
        </div>
    </section>
}

<section class="ftco-section bgsoftyesil" id="section-contact">
    <div class="container">
        <div class="row">


            <div class="col-md-12 text-center mb-5 ftco-animate">
                <h2 class="display-4">Sipariş Oluştur</h2>
                <div class="row justify-content-center">
                    <div class="col-md-7">
                        <p class="lead">Toplu siparişleriniz için aşağıdaki formu kullanarak sipariş oluşturabilirsiniz.</p>
                    </div>
                </div>
            </div>

            <div class="col-md mb-5 ftco-animate">
                <form method="post">
                    <div class="form-group">
                        <label for="Ürün" class="sr-only">Ürün</label>
                        @Html.DropDownListFor(m => m.id, (List<SelectListItem>)ViewBag.urun, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="email" class="sr-only">Adet</label>
                        <input type="number" class="form-control" id="email" name="piece" placeholder="Kilo veya Adet">
                    </div>
                    <div class="form-group">
                        <label for="email" class="sr-only">Telefon</label>
                        <input type="text" class="form-control" id="email" name="namesurname" placeholder="Ad Soyad">
                    </div>
                    <div class="form-group">
                        <label for="email" class="sr-only">Telefon</label>
                        <input type="text" class="form-control" id="email" name="gsm" placeholder="Telefon Numaranız">
                    </div>
                    <div class="form-group">
                        <label for="email" class="sr-only">Açıklama</label>
                        <input type="text" class="form-control" id="email" name="description" placeholder="Açıklama">
                    </div>
                    <div class="form-group">
                        <label for="message" class="sr-only">Adres</label>
                        <textarea name="adress" id="message" cols="30" rows="5" class="form-control" placeholder="Adresiniz"></textarea>
                    </div>

                    <div class="form-group">
                        <p><b style="color:#ff6a00">Sipariş Teslim Günü</b>: <input class="form-control" type="text" id="datepicker" name="deliverydate"></p>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-lg" value="Sipariş Oluştur">
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>
<script>
    $(function () {
        $("#datepicker").datepicker();
    });
</script>
